.App {
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}
body,
html {
  height: 100%;
}
#root {
  height: 100%;
}
.ele {
  width: 300px;
  height: 300px;
  background-color: aqua;
}

.wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  user-select: none;
}
.add-list-card {
  height: 15%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 20px;
  padding-bottom: 3%;
}
.add-list-button {
  height: 40px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  background-color: #b80c4d;
  border: #2e6da4;
  font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  line-height: 1.5;
  text-decoration: none;
}
.list {
  height: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 20px;
  /* padding-right: 1.5%; */
}
.add-list {
  /* background-color: #ebecf0; */
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
  background-color: hsla(0, 0%, 100%, 0.24);
  cursor: pointer;
  border: 1px solid;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.item {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100%;
}
.item-header {
  flex: 0 0 auto;
  padding: 10px 8px;
  position: relative;
  min-height: 20px;
  cursor: pointer;
}
.s-list {
  display: block;
  flex-wrap: wrap;
  padding: 0 5px;
  /* height: 144px; */
}
.list-wrapper {
  /* width: 272px; */
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 90%;
}
.list-cards {
  flex: 1 1 auto;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  overflow: auto;
  /* height: 590px; */
}
.s-item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 45px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 2%;
}
.block {
  background: #f3f3f3;
  text-align: center;
  padding: 5px;
}
